@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

body {
  background-color: #f5d9d5;
}
h1,
h2,
p,
.navbar-brand,
.nav-item {
  font-family: "Nunito", sans-serif;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3rem;
}

h2 {
  color: #ea1c2c;
  font-weight: 200;
  text-transform: uppercase;
}

h1,
h2 {
  font-weight: 300;
}

p {
  line-height: 2.5;
  color: #f49dba;
}

.slash {
  color: #ea1c2c;
}

.navbar-brand {
  font-size: 1.6rem;
}

.nav-item {
  font-size: 1.5rem;
}

.navbar-brand,
.nav-item {
  font-weight: 200;
}

.navbar {
    background: #dec0de;
}


/* .navbar {
  transition: 500ms ease;
  background: transparent;
}
.navbar.scrolled {
  background: #dec0de;
} */
