/* Global Styles  */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: sans-serif;
}

/* Container Styles  */
.container-custom{
    /* border: 1px solid orange; */
    padding: 0.5em;
    max-width: 900px;
    margin: auto;
}

/* Site  Header Styles */
header{
    background: rgb(255, 218, 98);
}

.site-header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom : 2rem;
}

.site-title{
    margin: 10px 0;
    font-size: 1.8rem;
}

/* Search Bar Styles  */
.search-bar{
    justify-content: center;

}


/* Table Styles  */

.table{
    /* border: 2px solid pink; */
    width: 100%;
    overflow-x: auto;
    margin: 20px 0;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    /* padding: 0.5em; */
}

table{
    margin: auto;
}

th{
    background: #000;
    color: #fff;
}

.operation div{
    width: 4px;
    height: 4px;
}

/* form related styles  */
.overlay-form{
    border: 1px solid black;
    border-radius: 20px;
}

.modal-body input, .modal-body button{
    display : block;
    margin: 10px auto;
    width: 80%;
}

