/* For Development Purpose */

/* .container{
    border: 1px solid #000;
} */

/* Variables */

:root {
    /* Colors */
    --background-color: white;
    --color1: #be1558;
    --color2: #e75874;
    --color3: #fbcbc9;
    --color4: #322514;
}

/* Common Stuff */

body {
    /* background: var(--background-color);
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #8EC5FC;
    background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 850px;
    width: 90%;
    margin: 0 auto;
    padding: 0 1em;
    background-image: url("images/scenary.jpg");
}

/* Header Style */

header {
    text-align: center;
    margin: 0;
}

header p {
    text-align: right;
    font-family: 'Lato', sans-serif;
}

.site-title {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    /* letter-spacing:0.2em; */
    font-weight: 100;
}

/* Content Main */
main{
    margin: 2em 0;
}

/* Price Grid Styles */

h2 {
    font-weight: normal;
}

/* Card1 Styles */

.card1 {
    background: var(--background-color);
}

.card1 h3 {
    color: var(--color1);
}

.highlight {
    color: var(--color2);
}

/* Card2 Styles */

.card2 {
    background: var(--color1);
}

#price {
    font-size: 2rem;
    padding-right: 0.3em;
}

.price-info {
    display: flex;
    align-items: center;
}

/* Card3 Styles*/

.card3 {
    background: var(--color2);
}

.card3 ul {
    list-style: none;
    padding: 0;
}

.card3 ul li {
    padding-top: .7em
}

.card2 button {
    width: 100%;
    padding: 1em 0;
    ;
    font-size: 0.9rem;
    border-radius: 10px;
    transition: 0.5s;
    border: none;
}

.card2 button:hover {
    transform: scale(1.05);
    background: var(--color3);
}

.card2 button:focus {
    outline: none;
}

/* Footer Styles */

footer {
    text-align: center;
}

/* common Stuff */

.card1 h3, .card3 h3, .card2 h3 {
    margin: 0;
}

.card3 h3, .card2 h3 {
    color: white;
}

.card1, .card2, .card3 {
    padding: 1.5em;
}

.card2, .card3 {
    color: white;
}

.blur {
    box-shadow: 0 8px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

/* Media Queries */

@media(min-width:640px) {
    .container1 {
        display: flex;
        flex: 1 1 auto;
        align-items: stretch;
    }
    .card2, .card3 {
        flex: 1 1 0;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
    }
}